/* End Header section css */

.site-header{
    padding: 20px 0;
}
.primary-menu > li{
    padding: 0 15px;
}
.primary-menu{
    margin-left: -15px;
    margin-right: -15px;
}
.primary-menu li a{
    color: #939fb2;
}
.primary-menu li a:hover{
    color: #fff;
}
.site-header .logo img {
    width: 138px;
}

.d-none{
    display: none;
}

/* Header section css */