<header class="site-header light-blue-bg">
    <div class="shape1 shape d-none">
        <img src="../../../assets/images/green-covid.png" alt="">
    </div>
    <div class="shape2 shape d-none">
        <img src="../../../assets/images/yellow-covid.png" alt="">
    </div>
    <div class="shape3 shape d-none">
        <img src="../../../assets/images/blue-covid.png" alt="">
    </div>
    <div class="shape4 shape d-none">
        <img src="../../../assets/images/red-covid.png" alt="">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a routerLink="" title="logo">
                        <img src="../../../assets/images/covid-logo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <nav class="nav justify-content-end">
                    <ul class="primary-menu d-flex flex-wrap justify-content-end list-none">
                        <li><a href="#" title="">COVID-19</a></li>
                        <li><a href="#" title="">Spread</a></li>
                        <li><a href="#" title="">Symptoms</a></li>
                        <li><a href="#" title="">Prevention</a></li>
                        <li><a href="#" title="">News</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>